.login-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}